<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ani dashboard</title>
</head>
<body>
    <h1>Click here to view my dashboard</h1>
    <a href="https://charts.mongodb.com/charts-project-0-fwgxe/public/dashboards/636b44b6-0cc4-49ad-8bd7-45e50b352b2d">Click here to view my dashboard</a>
</body>
</html>